/* global styles
----------------------------------------------------------------------------- */
body {
  font-family: Futura, Verdana, Sans-Serif;
  font-weight: lighter;
  color: #222;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

mark {
  background: #e7e8e9;
}

a {
  color: #4da9bd;
  text-decoration: none;
}

a:visited {
  color: #4da9bd;
}

a:hover {
  color: #ea3324;
}

nav {
  text-align: center;
  background: linear-gradient(#2c3541, #1f252e, black);
  width: 100%;
}

iframe {
  display: block;
  margin: auto;
  width: 100%;
  border: 4px solid #333d49;
}

footer {
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

.float-left {
  float: left;
}

.float-right {
  margin: 0 auto;
  float: right;
}

.align-middle {
  vertical-align: middle;
}

.centered {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.full-width-container {
  width: 100%;
  margin: 0;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.borderized {
  border: 3px solid red;
}

.yellow {
  background: #f4eb6c;
}

.blue {
  background: #333d49;
}

.with-max-width {
  max-width: 800px;
}

.flex {
  display: flex;
}

/* header
----------------------------------------------------------------------------- */
nav a {
  color: white;
  display: inline-block;
  padding: 1rem;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: #ea3324;
}

nav a.active-page {
  background: linear-gradient(#fff, #eee, #ccc);
  color: black;
}

/* main
----------------------------------------------------------------------------- */
.video {
  background: #f4eb6c;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.circle li {
  list-style: circle;
  margin-left: 1rem;
}

.example-screens {
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.hero {
  background: linear-gradient(#fff, #eee, #ccc);
}

/* footer
----------------------------------------------------------------------------- */
